@{
    ViewBag.Title = "About Mood-o-Meter";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div class="row-fluid">
    <div class="span12">
        <p>Use Mood-o-Meter to record your mood whenever you like it. You can record more than one mood for a day and you can record your moods for other days than today too. Even days in the future :)</p>
    </div>
</div>