@{
    ViewBag.Title = "Contact";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div>
    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@mood-o-meter.com">Support@mood-o-meter.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@mood-o-meter.com">Marketing@mood-o-meter.com</a>
    </address>
</div>