@using Mood_o_Meter.Models
@model IEnumerable<Mood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <p>
        <button type="button" class="btn-large" id="good-button">Good</button>
        <button type="button" class="btn-large" id="bad-button">Bad</button>
    </p>
</div>

<svg id="mood-cloud" width="1200" height="400">
</svg>

<table class="table" id="mood-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Moood)
            </th>
            <th></th>
        </tr>
    </thead>

    <div id="mood-list"></div>
    <tbody id="mood-table-body">
        
    </tbody>
</table>

@section Scripts
{
    <script src="~/scripts/moood.js" ></script>
}
